/*Menu Button Styles*/
.PrUnTools_Menu_Wrap
{
    margin-top: 30px;
}
.PrUnTools_Menu_Item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.PrUnTools_Menu_Item_Label
{
    display: inline-block;
    flex-grow: 1;
    padding: 0 4px 0 6px;
    line-height: 19px;
    color: #999;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    /*line-height: 1.1;*/
}
.PrUnTools_Menu_Item_Label:hover
{
    color: #DDD;
}
.PrUnTools_Menu_Item_Indicator
{
    display: inline-block;
    width: 2px;
    height: 19px;
    background-color: rgba(63, 162, 222, 0.15);
}
.PrUnTools_Menu_Item.PrUnTools_Disabled .PrUnTools_Menu_Item_Label
{
    color: #626262;
    cursor: not-allowed;
}
.PrUnTools_Menu_Item.PrUnTools_Disabled .PrUnTools_Menu_Item_Label:hover
{
    color: #626262;
    cursor: not-allowed;
}
/*Window Styles*/
.PrUnTools_TileFrame
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.PrUnTools_TileFrame_Header
{
    background-color: rgba(63, 162, 222, 0.15);
    color: #EEE;
    padding: 5px 8px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(63, 162, 222, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    /*line-height: 1.1;*/
}
.PrUnTools_TileFrame_Title
{
    font-family: 'Open Sans', sans-serif;
    display: inline;
    text-transform: uppercase;
    line-height: normal;
}
.PrUnTools_TileFrame_SubTitle
{
    font-size: 8px;
    line-height: 1;
    display: inline-block;
    margin-left: 2px;
    color: #999;
}
.PrUnTools_TileFrame_Body
{
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 1.1;
    color: #BBB;
    position: relative;
    flex-grow: 1;
}
.PrUnTools_TileFrame_Anchor
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
/*Indicator Styles*/
.PrUnTools_Menu_Item_Indicator.red
{
    background-color: #D91818;
    background-color: #D91818;
    -webkit-box-shadow: 0 0 6px 0 #5cb85c;
    -moz-box-shadow: 0 0 6px 0 #5cb85c;
    box-shadow: 0 0 6px 0 #D91818;
}
.PrUnTools_Menu_Item_Indicator.green
{
    background-color: #22D818;
    background-color: #22D818;
    -webkit-box-shadow: 0 0 6px 0 #5cb85c;
    -moz-box-shadow: 0 0 6px 0 #5cb85c;
    box-shadow: 0 0 6px 0 #22D818;
}
.PrUnTools_Menu_Item_Indicator.light-green
{
    background-color: #62EF5B;
    background-color: #62EF5B;
    -webkit-box-shadow: 0 0 6px 0 #5cb85c;
    -moz-box-shadow: 0 0 6px 0 #5cb85c;
    box-shadow: 0 0 6px 0 #62EF5B;
}
.PrUnTools_Menu_Item_Indicator.blue
{
    background-color: #1853D7;
    background-color: #1853D7;
    -webkit-box-shadow: 0 0 6px 0 #5cb85c;
    -moz-box-shadow: 0 0 6px 0 #5cb85c;
    box-shadow: 0 0 6px 0 #1853D7;
}
.PrUnTools_Menu_Item_Indicator.light-blue
{
    background-color: #638EEE;
    background-color: #638EEE;
    -webkit-box-shadow: 0 0 6px 0 #5cb85c;
    -moz-box-shadow: 0 0 6px 0 #5cb85c;
    box-shadow: 0 0 6px 0 #638EEE;
}
.PrUnTools_Menu_Item_Indicator.pulse-effect
{
    animation: effects__pulse 2s infinite;
}
.PrUnTools_Menu_Item_Indicator.rapid-pulse
{
    animation: effects__pulse 0.25s infinite;
}
@keyframes effects__pulse
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0.25;
    }
    100%
    {
        opacity: 1;
    }
}
/*TABLE Styles*/
table.PrUnTools_Table
{
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 1.1;
    color: #BBB;
}
table.PrUnTools_Table th, table.PrUnTools_Table td
{
    font-weight: normal;
    padding: 5px 8px;
}
table.PrUnTools_Table thead th
{
    border-bottom: 1px solid #2B485A;
    text-align: left;
    padding: 5px 8px 2px;
}
table.PrUnTools_Table tbody td
{
    padding: 2px 8px;
    border-left: 1px solid #2B485A;
    line-height: 17px;
}
table.PrUnTools_Table tbody td:first-child
{
    border-left: none;
}
table.PrUnTools_Table tbody td:nth-child(odd)
{
    background-color: #23282B;
}
table.PrUnTools_Table tbody
{
    border-bottom: 1px solid #2B485A;
}
table.PrUnTools_Table tr.totals
{
    border-top: 1px solid #2B485A;
}
table.PrUnTools_Table td p
{
    margin: 5px 0;
}
.center-cell
{
    text-align: center;
}
.accounting-cell
{
    text-align: right;
}
.top-border-cell
{
    border-top: 1px solid #2B485A;
    /*border-bottom: 1px solid #2B485A;*/
}
.bottom-border-cell
{
    border-bottom: 1px solid #2B485A;
}
table.PrUnTools_Table tbody td.header-cell
{
    background-color:none;
    border-top: 1px solid #2B485A;
    border-bottom: 1px solid #2B485A;
}
table.PrUnTools_Table tbody td.header-cell:nth-child(odd)
{
    background: none;
}
table.PrUnTools_Table tbody tr:hover td
{
    background-color: rgba(255, 255, 255, 0.15);
}
/*Control Styles*/
input[type="text"].PrUnTools_Control, input[type="number"].PrUnTools_Control
{
    height: 17px;
    line-height: 17px;
    padding: 0 4px;
    border: 0;
    border-bottom: 1px solid #8D6411;
    background-color: #42361D;
    color: #BBB;
    text-align: right;
    width: 100%;
}
input.PrUnTools_Control:focus
{
    outline: none;
    border-bottom: 1px solid #F7A600;
}
select.PrUnTools_Control
{
    height: 17px;
    line-height: 17px;
    padding: 0 4px;
    border: 0;
    border-bottom: 1px solid #8D6411;
    background-color: #42361D;
    color: #BBB;
    text-align: left;
}
select.PrUnTools_Control:focus
{
    outline: none;
    border-bottom: 1px solid #F7A600;
}
button.PrUnTools_Button_Primary
{
    display: inline-block;
    border: none;
    line-height: 17px;
    padding: 0 8px;
    margin: 0;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background-color: #F7A600;
    border-radius: 2px;
}
button.PrUnTools_Button_Primary:hover
{
    color: #272727;
}
/*TABLE Label Styles*/
table.PrUnTools_Table td.PrUnTools_Label.PrUnTools_Label
{
    /*border: none;*/
    font-weight: bold;
    line-height: 11px;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
}
table.PrUnTools_Table td.PrUnTools_Label.yellow
{
    background-color: #F7A600;
    color: black;
}
table.PrUnTools_Table td.PrUnTools_Label_Input.yellow
{
    background-color: #2D2920;
    color: black;
    text-align: right;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
}
table.PrUnTools_Table td.PrUnTools_Label.blue
{
    background-color: #3FA2DE;
    color: black;
    line-height: 17px;
}
table.PrUnTools_Table td.PrUnTools_Label_Output.blue
{
    background-color: #23282B;
    color: black;
    text-align: right;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
}
table.PrUnTools_Table td.PrUnTools_Label_Output.blue span
{
    padding: 2px 5px;
    line-height: 17px;
    background-color: #26353E;
    color: #BBB;
}
/*Alert Box Styles*/
.PrUnTools_Alert_Overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 96px 96px;
    z-index: 99;
}
.PrUnTools_Alert_Overlay .PrUnTools_Alert_Content
{
    display: block;
    padding: 10px;
    text-align: center;
    color: #FFF;
}
.PrUnTools_Alert_Overlay .PrUnTools_Alert_Title
{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 600;
}
/*Alert Box Color Styles*/
.PrUnTools_Alert_Overlay.alert-yellow
{
    background-color: rgba(240, 173, 78, 0.3);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25%, rgba(240, 173, 78, 0.5) 25%, rgba(240, 173, 78, 0.5) 50%);
}
.PrUnTools_Alert_Overlay.alert-yellow .PrUnTools_Alert_Content
{
    color: #272727;
    background-color: #F0AD4E;
}
.PrUnTools_Alert_Overlay.alert-red
{
    background-color: rgba(241, 56, 56, 0.316);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25%, rgba(241, 56, 56, 0.4) 25%, rgba(241, 56, 56, 0.4) 50%);
}
.PrUnTools_Alert_Overlay.alert-red .PrUnTools_Alert_Content
{
    color: #EBEBEB;
    background-color: #F23838;
}
.PrUnTools_Alert_Overlay.alert-green
{
    background-color: rgba(56, 241, 56, 0.239);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25%, rgba(56, 241, 56, 0.4) 25%, rgba(56, 241, 56, 0.4) 50%);
}
.PrUnTools_Alert_Overlay.alert-green .PrUnTools_Alert_Content
{
    color: white;
    background-color: #0BAE1C;
}
/*Text Styles*/
td.text-muted, .text-muted
{
    color: #505050;
}
td.text-green, .text-green
{
    color: #1BF63D;
}
td.text-red, .text-red
{
    color: #EB1E1E;
}
td.text-orange, .text-orange
{
    color: #E69C07;
}
